@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* css menu */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
}
/* css body */
.list-search{
    flex-basis: 100%;
    margin-bottom: 24px;
    padding-left: 20px;
    color: #5e5e5e;
}
.list-search-content{
    width: 300px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    background-color: #fff;
}
.search-course{
    width: 100%;
    padding: 6px;
}
.search-course input{
    font-size: 16px;
    padding: 6px 30px 6px 12px;
    border: none;
}
.search-course i{
    margin-left: 20px;
}

.fa-magnifying-glass{
    color: #c4c4c4;
    font-size: 14px;
    margin: auto;
}
.container-body{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.row{
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
}
.image{
    height: 215px;
    width: 305px;
    overflow: hidden;
}
img {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    cursor: pointer;
}
.card{
    flex-basis: calc(100%/4 - 20px);
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 30px;
}

.content{
    padding: 10px;
}
.card .content{
    background-color: #fff;
}
p.card-content-title {
    color: #000;
    font-size: 19.2px;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.content-2{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}
.content .rating {
    color: #757575;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 10px;
}
.content .type{
    color: #757575;
    font-size: 14.4px;
    font-weight: 100;
    line-height: 22px;
    margin-bottom: 10px;
}
.content .rating i{
    color: yellow

}
/* footer */
.container-footer{
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #464646;
    color: #919294;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
}
.footer{
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}
.col{
    width:25%;
}
.content li{
    list-style: none;
}

.content h4{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.content li a{
    color:#919294 ;
    text-decoration: none;
}

.content li a:hover{
    text-decoration: underline;
}

.icon a{
    color: #919294;
    font-size: 30px;
    padding: 10px;
}