*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heart{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
    background-color: red;
    width: 200px;
    height: 180px;
    font-size: 80px;
    color: #fff;
}

.heart i{
    animation: heart 0.5s infinite;
}

@keyframes heart{
    0%{
        font-size: 80px;
    }
    100%{
        font-size: 100px;
    }
}