/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-body{
    display: flex;
    flex-wrap: wrap;
}
.row{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
}
.image{
    height: 270px;
    overflow: hidden;
}
img {
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
}
.card{
    flex-basis: 30%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    overflow: hidden;
    margin-left: 30px;
    margin-bottom: 30px;
}

.content{
    padding: 20px;
}

.content h2 {
    color: #464646;
    font-size: 19px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.content-2{
    display: flex;
    justify-content: space-between;
}
.content .type, .content .rating {
    color: #757575;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 10px;
}

.content .rating i{
    color: yellow
}
