@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.footer{
    background-color: #464646;
    margin: auto;
    
}
.col{
    text-align: center;
    color: #919294;
    padding: 5px 10px;
    line-height: 35px;
}

.content a{
    text-decoration: none;
    color: #919294;
}

.content a:hover{
    text-decoration-line: underline;
}


.content li{
    font-size: 14px;
    font-weight: 400px;
    list-style: none;
}

.content h4{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.icon{
    margin: auto;
    text-align: center;
}

.icon a{
    color: #919294;
    font-size: 27px;
    padding: 30px;
}

