.container{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    /* align-content: center; */
}

.item{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: blue;
    color: #fff;
    font-size: 2rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.item1{
    order: -1;
}

.item2{
    order: 1;
    flex-basis: 200px;
    /* flex-grow: 1;
    flex-shrink: 2; */
    align-self: flex-end;
}