@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
    display: block;
    margin: 0;
}
ul{
    list-style-type: none;
}

.header{
    height: 60px;
    background-color: #34465c;

    display: flex;
    justify-content: space-between;
}

.header-logo img{
    width: 120px;
}

.header-logo{
    display: flex;
    align-items: center;
}

.side-bar{
    display: flex;
}

.list-menu{
    display: flex;
    height: 100%;
}

.menu > ul > li{
    color: #fff;
    margin: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 15.2px;
    font-weight: 400;
}
.menu > ul > li:hover .sub-menu {
    display: block;
}

.menu > ul > li:hover{
    color: #c4c4c4;
}

.menu-item span{
    margin: 8px;
}
.sub-menu{
    box-shadow: 0 0 10px rgb(0 0 0 /15%) ;
    width: 200px;
    position: absolute;
    right: 0;
    top: 100%;

    display: none;
}

.sub-menu li{
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 0.7rem 1rem;
    cursor: pointer;
}

.sub-menu li:hover{
    background-color: #c4c4c4;
}
.avatar img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.cart-item{
    color: #fff;
    display: flex;
    align-items: center;
}

.cart-item{
    position: relative;
}
.cart-icon{
    font-size: 23px;
    /* width: 25.2px;
    height: 23.2px; */
}
.cart-count{
    font-size: 13.2px;
    position: absolute;
    bottom: 30px;
    background-color: #26A69A;
    border-radius: 4px;
    right: -15px;
    padding: 3.3px 5.28px;
    height: 19.8px;
}

.avatar{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 35px;
}