@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

/* css footer */
.footer{
    background-image: url(https://theme.hstatic.net/200000463473/1000816547/14/bg_footer.png?v=774);
    color: #fff;
    background-size: 100%;
    margin-top: 30px;
    height: 500px;
}
.container-footer-info{
    width: 1300px;
    margin: auto;
}
.container-footer-image img{
    width: 300px;
    margin-left: 100px;
}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 60px;
}
.footer-col{
    padding-left: 30px;
    padding-right: 30px;
}
.footer-title{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    margin: 0 0 15px;
}
.footer-content-contact{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}
.footer-content-contact p{
    padding: 4px 0;
    margin-bottom: 16px;
}

.footer-menu p{
    margin-bottom: 10px;
}
.footer-social{
    font-size: 25px;
}
.footer-social a{
    color: #fff;
    margin-right: 10px;
}
.footer-social a:hover{
    color: #ed6436;
}
.author{
    background-color: #000;
    height: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    padding-top: 17px;
}